h1{
    text-align: center;
  font-family: 'Roboto', cursive; /* Use a fancy font */
  color: #000000; /* Change color to your preference */
  font-size: 48px; /* Adjust the font size */
  font-weight: bold;
  text-transform: uppercase; /* Convert text to uppercase */
  letter-spacing: 4px; /* Add letter spacing */
  margin-bottom: 20px; /* Add space below the <h1> */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Add a subtle text shadow */
}

